* {
    font-family: 'Liberation Mono';
    border-color: transparent;
    outline-style: none;
}

window {
    border-radius: 1rem;
    background: #190482;
    color: white;
    padding: 1rem;
}


#input.focus {
    border-color: transparent;
}

#selected {
    background: #7752fe;
    border-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    border-radius: 1rem;
}

#text {
    padding: .75rem;
    font-size: 13pt;
}

#outer-box {
    background: transparent;
    padding: 1rem;
}

#inner-box {
    background: transparent;
}

#entry {
    margin: 1rem 0 0 0;
    padding: 0;
    background: transparent;
    border-color: transparent;
    border-radius: 1rem;
}
